In [1]:
from bs4 import *
import requests
import re
import pandas as pd

In [2]:
df = pd.read_csv("team_links.csv")

In [8]:
url = df.depth_links[0]
table=pd.read_html(url)

In [10]:
table[0]

   QB
0  RB
1  WR
2  WR
3  WR
4  TE
5  LT
6  LG
7   C
8  RG
9  RT